* {
  font-family: Verdana, sans-serif;
  color: #ffffff;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

body {
    background-color: black;
}

.header {
    padding: 5vh;
    margin: -1vh;
    font-size: 3.5vh;
    text-align: center;
    background: #2c2c2c;
    line-height: 2vh;
}

.button-link {
    text-decoration: none;
    width: 5vh;
    height: 5vh;
    object-fit:cover;
    border-radius:50%;
}

.body1 {
    margin-left: 5vh;
    margin-top: 5vh;
}